body {
  margin:auto;
  font-family: Palatino, serif;
  max-width:680px;
  margin-top:120px;
  margin-bottom:120px;
  line-height:160%;
  font-size:85%;
}

p {
  text-align:justify;
}

ul li {
  line-height:200%;
}

a:link {
  color:#224b8d;
  text-decoration:none;
}
a:visited {
  color:#224b8d;
  text-decoration:none;
}
a:hover {
  color:#f09228;
}

.paper-img {
  width:160px;
  height:160px;
  overflow:hidden;
}

